.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

.blogContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px 80px;
  width: 100%;
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionTitle {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 28px;
  color: #6b6b6b;
  font-weight: 400;
}

.viewAll {
  color: #b90101;
  font-size: 20px;
}
